.container-element {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 600px;
    background: transparent;
    border: 0px;
    text-align: center;
    padding:20px;
}



.circle-element {
    display: block;
    position: absolute;
    top: calc(50% - 10px);
    left: 45%;
    width: 300px;
    height: 1px;
    background: transparent;
    transform-origin: left;
    /* animation: animate 2s linear infinite; */
    margin: 40px;
}

.circle-element::before {
    content:'';
    position: inherit;
    width: 75px;
    height: 75px;
    top: -45px;
    right: -45px;
    border-radius: 50%;
    background: #fff;
    transform: rotate(30deg);
    margin: 40px;
}

.animate-obj {
    position:absolute;
    left:50%;
    top:50%;
    animation: animate 7s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*new implme*/
.main {
    position: absolute;
    border: 0;
    border-radius: 50%;
    width: 500px;
    height: 500px;
}

.circle {
    position: absolute;
    left: calc(50% - 25px);
    top: calc(50% - 25px);
    height: 50px;
    width: 50px;
    background-color: white;
    border-color: white;
    border-radius: 50%;
}

