.inp {
    background: #ECEFF1;
    border-radius: 5px;
}

.inp-container {

}

/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
    position: absolute;
    pointer-events: none;
    padding: 10px;
}

/* align glyph */
.left-addon .glyphicon {
    left: 0px;
}

.right-addon .glyphicon {
    right: 0px;
}

/* add padding  */
.left-addon input {
    padding-left: 50px;
}

.right-addon input {
    padding-right: 30px;
}

input{
    background: #ECEFF1;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 1.4rem;
}
::-moz-placeholder { /* Firefox 19+ */
    font-size: 2rem;
}
:-ms-input-placeholder { /* IE 10+ */
    font-size: 2rem;
}
:-moz-placeholder { /* Firefox 18- */
    font-size: 2rem;
}

.icon-cls{
    font-size: 2.0rem;
}