.background{
    background: #263238;
    height: 100vh;
}

.centerFlex {
    align-items: center;
    display: flex;
    justify-content: center;
}

.card-size{
    width: 30%;
    height: 40%;
}

.btn-container{
    margin-top: 10%;
}

.mt-20per{
    margin-top: 20%;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    .card-size{
        width: 100%;
        height: 40%;
    }
}

.btn-color{
    background: #ECEFF1;
}

.input-style{
    height: 5vh;
}
